/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  min-height: 2000px;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #252525;
  letter-spacing: 0.5px;
}

.container1 {
  width: 1100px;
  margin: auto;
}

.container2 {
  /* background-color: #f5f5f5; */
  background-color: #f0f8ff;
}

.container2 section {
  width: 1500px;
  margin: auto;
  padding: 60px 0 70px;
}

/* HEADER AREA */

header {
  display: flex;
  width: 1100px;
  margin-top: 150px;
  margin-bottom: 150px;
}

header .text {
  margin-top: 50px;
}

header .text h2 {
  font-size: 2rem;
  /* width: 90%; */
  margin-bottom: 15px;
}

header .text p {
  font-size: 1.25rem;
  margin-bottom: 60px;
}

header .text a {
  text-decoration: none;
  background-color: #0000ff;
  color: white;
  font-weight: 500;
  padding: 20px 25px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .text a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header img {
  width: 50%;
  cursor: pointer;
  transition: 300ms;
  transform: scale(0.9);
}

header img:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}

/* BANNER AREA */

/* VISI & MISI AREA */

section.visiMisi {
  margin-bottom: 100px;
}

section.visiMisi h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: tomato;
}

section.visiMisi h4 {
  text-align: center;
  letter-spacing: 4px;
  font-style: italic;
}

section.visiMisi .wrap {
  display: flex;
  gap: 300px;
}

section.visiMisi .visi,
.misi {
  margin-top: 50px;
  width: 50%;
}

section.visiMisi .visi h3,
.misi h3 {
  font-size: 3rem;
  margin-bottom: 20px;
}

section.visiMisi .visi p {
  text-indent: 50px;
  text-align: justify;
  line-height: 20px;
}

section.visiMisi .misi ol {
  margin-left: 18px;
}

section.visiMisi .misi li {
  text-align: justify;
  line-height: 20px;
  margin-bottom: 5px;
}
